.contentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 80vh;
}

.flightContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
}

.flightListContainer {
    width: 100%;
}

.flightItemContainer {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 12px;
    padding: 12px 32px;
    gap: 12px;
    border: 3px solid transparent;
    transition: all 0.35s ease-in-out;
    width: 100%;
    margin-bottom: 18px;
}

.flightItemContainer:hover {    
    border: 3px solid aquamarine;
    cursor: pointer;
}

.flightItemInfo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.airlineInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 64px;
    border-right: 1px solid #ccc;
}

.airportInfo{
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.airlineName {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.flightInfo {
    color: #a39c9c;
    font-size: 14px;
    text-align: left;
}

.flightInfoContainer {
    display: flex;
    flex: 1;
    gap: 32px;
}

.durationContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    margin: 0 16px;
}

.durationDetail {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #a39c9c;
    font-size: 16px;
}

.decoration {
    display: flex;
    align-items: center;
    flex: 1;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #1D7D8F;
}

.line {
    height: 1px;
    border: 1px #1D7D8F dashed;
    flex: 1;
}

.priceAndClassInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceFacility {
    display: flex;
    color: #a39c9c;
    font-size: 14px;
}

.advantage {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 8px;
    margin: 0 12px;
}

.priceInfo {
    display: flex;
    gap: 12px;
    align-items: center;
}

.price {
    display: flex;
}

.viewDetail {
    flex: 1;
    padding: 8px 12px;
    background-color: #333;
    color: #FFF;
    border-radius: 12px;
    /* width: 81px; */
}

.price {
    color: #1D7D8F;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    gap: 4px;
}

.unit {
    position: relative;
    color: #a39c9c;
    font-size: 12px;
    font-weight: bold;
    bottom: 3px;
}

.pageContainer {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.pageButton{
    padding: 8px 12px;
    border-radius: 10px;
    transition: all 0.35s ease-in-out;
    cursor: pointer;
}

.pageButton:hover{
    background-color: aqua;
    color: #a39c9c;
}

.flightSearchContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 16px;
    background-color: #FFF;
    padding: 12px 18px;
    border-radius: 12px;
}

.airportSearch {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    border: none;
    padding: 10px;
    outline: none;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    letter-spacing: 1.2px;
    border-radius: 12px;
    min-width: 120px;
    background-color: #f3f3f3;
}

.SearchBtn {
    padding: 6px 8px;
    border-radius: 12px;
    background-color: #f3f3f3;
    cursor: pointer;
}

.exchangeBtn {
    position: relative;
    top: -6px
}

.fligthList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.fligthListName {
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

.functionalBtnContainer {
    display: flex;
    align-items: center;
    gap: 18px;
}

.functionalDes {
    color: #000;
    font-size: 14px;
}

.sortBy {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 12px 18px;
    background-color: #FFF;
    border-radius: 12px;
    color: #948d8d;
    font-size: 16px;
    position: relative;
    /* min-width: 160px; */
}

.sortBy:hover .optionContainer {
    max-height: 84px;
}

.optionContainer {
    /* display: none; */
    max-height: 0;
    position: absolute;
    display: block;
    top: 42px;
    background-color: #65B9C7;
    color: #FFF;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
}

.optionItem {
    padding: 8px 12px;
    transition: all 0.35s ease-in-out;
    text-align: left;
}

.sortByDeparture {
    /* padding: 0 18px; */
    bottom: -66px;
}

.optionItem:hover {
    background-color: #f7e1e1;
    color: #333;
    cursor: pointer;
}

.addFlight {
    background-color: #65B9C7;
    padding: 12px 18px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: #FFF;
    transition: all 0.35s ease-in-out;  
}

.addFlight:hover {
    background-color: #1D7D8F;
    color: #FFF;
    cursor: pointer;
}

