.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 100vh;
}

.content {
    flex: 1;
    height: 100%;
    min-height: 100vh;
    background-color: #d6eef1;
    margin-left: 252px;
}

@media screen and (max-width: 1024px) {
    .content {
        transition: all 0.35s ease-in-out;
        margin-left: 0;
    }
}
